{% extends "layout.jinja2" %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='dist/css/dashboard.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/sus7rlu.css">
{% endblock %}

{% block content %}

  <div class="return">
      <span>Add notebooks <a href="{{ url_for('main_bp.add_notebooks') }}"> Add </a></span>
      <span>Markup Tool <a href="{{ url_for('main_bp.dashboard') }}"> Go </a></span>
    </div>
{% endblock %}
