{% extends "base.html" %}
{% import "bootstrap/form.html" as wtf %}

{% block content %}
    <div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-4" method="POST">
      <div class="form-group">
        {{ wtf.render_field(form.add_vertexes) }}
      </div>
      <div class="form-group">
        {{ wtf.render_field(form.add_notebooks) }}
      </div>
        <div class="form-group">
        {{ wtf.render_field(form.markup_tool) }}
      </div>
        <div class="form-group">
        {{ wtf.render_field(form.dashboard) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
